TP1/src/common/xsd/gamesHistory.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="gamesHistoryType">
        <xs:sequence>
            <xs:element name="game" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dateTime" type="xs:string"/>
                        <xs:element name="duration" type="xs:long"/>
                        <xs:element name="opponent" type="xs:string"/>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="gamesHistory" type="gamesHistoryType"/>
</xs:schema>

