TP1/src/common/xsd/gameEnd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gameEnd">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="winner" type="xs:string" minOccurs="0"/>
                <xs:element name="reason" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

