TP1/src/common/xsd/game.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="move">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="player" type="xs:string"/>
                <xs:element name="row">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="14"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="col">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="14"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="gameStart">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="opponent" type="xs:string"/>
                <xs:element name="firstPlayer" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="quitMatch">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
